/node_modules
dist
/wwwroot/bundle.*
/wwwroot/main.*
/wwwroot/files
*.orig
/yarn-error.log
/.vscode/settings.json
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
/assets
