.check-list {
    h1 {

    }

    &__unit {
        &__title {
            font-weight: bold;
        }
        margin-bottom: 0.5rem;
    }
}

.stats {
    display: flex;

    &__title {
        width: 10rem;
    }
    div {
        border: 1px solid #e6dccb;
    }
    &__key {
        background-color: #e6dccb;
        width: 2rem;
    }
    &__value {
        width: 2rem;
    }
}