.wounds {
    white-space: nowrap;
}

.unit {
    page-break-inside: avoid;
}
.unit {
    &__title {
        display: flex;
    }
    &__stats {
        margin-left: 1rem;
        font-size: 1.2rem;
    }
}

.warscroll {
    &__image {
        float: right;
        height: 10rem;
        width: 10rem;
    }

    &__section-header {
        font-variant: small-caps;
        font-size: 1.4rem;
        margin-top: 1rem;
    }

    &__flavor {
        font-style: italic;
    }

    &__abilities {
        column-count: 3;

        header {
            font-weight: bold;
        }
    }
}

.ui.table.wound-table {
    text-align: center;
}

.keywords {
    padding-top: 25px;
}